<div class="container">
    <div class="row justify-content-center" style="padding-top: 25px;">
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/5105/5105291.png" alt="fahrenheit">
                <div class="card-body">
                    <h4 class="card-title">Fahrenheit</h4>
                    <p class="card-text">Calculadora de Celsius a Fahrenheit</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/3815/3815451.png" alt="Kelvin">
                <div class="card-body">
                    <h4 class="card-title">Kelvin</h4>
                    <p class="card-text">Calculadora de Celsius a Kelvin</p>
                </div>
            </div>
        </div>
    </div>
</div>
